
.footerDev {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    align-items: center;
    background-color: #3F3D56;
}

#footerItem1 {
  color : #ffffff;
  font-size: 24px;
  font-weight: 400;
  font-family: sans-serif;
}